<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaksi</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
    </style>
</head>
<body>
    
    <!--NAVIGATION-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-3 fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">JaketPedia</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">
              <li class="nav-item">
                <a class="nav-link" href="Home.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
              <li class="nav-item">
                <i class="fa fa-search"></i>
                <a href="keranjang.html"><i class="fa fa-shopping-cart"></i></a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <section class="container sproduct my-5 pt-5">
        <div class="row mt-5">
            <div>
                <div class="col-lg-15 col-md-12 col-10">
                    <div id="app">
                      <h3>DETAIL PEMESANAN:</h3>
                      <h4>Silahkan Isi Data Dibawah Ini</h4> 
                      Nama Pemesan:
                      <div><input v-model="content2"></div> <br>
                      Alamat Pemesan:
                      <div><input v-model="content3"></div> <br>
                      <button @click="bayar">Selesai</button>
                    </div>
                    <script>
                      var app = new Vue({
                        el: "#app",
                        data: {
                          content1: "",
                          content2: "",
                          content3: "",
                          isi: '',
                          keterangan: ''
                        },
                        methods: {
                          bayar: function() {
                            // Logika pembayaran atau validasi bisa ditambahkan di sini
                            console.log("Pembayaran telah dilakukan");

                            // Menampilkan SweetAlert setelah pembayaran
                            swal({
                              title: "Terima Kasih!",
                              text: "Pembayaran Anda telah berhasil.",
                              icon: "success",
                              button: "OK",
                            });
                          }
                        },
                        watch: {
                          isi: function() {
                            this.keterangan = 'memproses transaksi....'
                          }
                        }
                      })
                    </script>
                    
            </div>
        </div>
    </section>
    

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
